#top {
    display: flex;
}

body{
    width: 200px;
    height: 200px;
}
#middle {
    display: flex;
}

#bottom {
    display: flex;
}

.box{
    width: 40px;
    height: 40px;
    border: 2px solid red;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.filler{
    color: white;
}

button {
    width: 50px;
    height: 25px;
}
